In [1]:
cd C:\Users\chris\Documents\44-608Fundamentals\IntroToPython\examples\ch10

C:\Users\chris\Documents\44-608Fundamentals\IntroToPython\examples\ch10

In [2]:
#10.2
from account import Account

In [3]:
from decimal import Decimal

In [4]:
#Getting the account name and balance
account1 = Account('John Green', Decimal('50.00'))

In [5]:
account1.name

'John Green'

In [6]:
account1.balance

Decimal('50.00')

In [7]:
#Deposit into account
account1.deposit(Decimal('25.53'))

In [8]:
account1.balance

Decimal('75.53')

In [9]:
#You can't deposit a negative amount
account1.deposit(Decimal('-23'))

ValueError: amount must be positive.

In [10]:
#viewing the classes docstring
Account?

In [ ]:
#testing the new withdraw account object

from account import Account

from decimal import Decimal

account1 = Account('Chris Kollbaum', '56.00')

account1.withdraw(Decimal('15.00'))

account1.balance

In [10]:
#10.3
from account import Account

from decimal import Decimal

account1 = Account('Chris Kollbaum', Decimal('50.00'))

account1.balance

Decimal('50.00')

In [11]:
account1.balance = Decimal('-100.00')

account1.balance

Decimal('-100.00')

In [12]:
#10.4 Working with time 

from timewithproperties import Time

In [13]:
#Creating a time object
wake_up = Time(hour=7, minute=15)

In [14]:
wake_up

Time(hour=7, minute=15, second=0)

In [15]:
print(wake_up)

7:15:00 AM

In [16]:
#Performing operations on the time object 
wake_up.hour

7

In [17]:
#Setting the time
wake_up.set_time(hour=8, minute=32)

wake_up

Time(hour=8, minute=32, second=0)

In [18]:
#changing the hour
wake_up.hour = 5

wake_up

Time(hour=5, minute=32, second=0)

In [19]:
#Assigning an invalid hour
wake_up.hour=100

ValueError: Hour (100) must be 0-23

In [20]:
#Testing the new property in Time object

from timewithproperties import Time

t = Time()

t

Time(hour=0, minute=0, second=0)

In [21]:
t.time = (12, 30, 45)


t.time

(12, 30, 45)

In [22]:
#10.5 private attributes

from private import PrivateClass

my_object = PrivateClass()

my_object.public_data

'public'

In [23]:
# Trying to access private data directly.  It won't work.  
my_object.__private_data

AttributeError: 'PrivateClass' object has no attribute '__private_data'

In [24]:
#modifying private data

my_object._PrivateClass__private_data

'private'

In [25]:
my_object._PrivateClass__private_data = 'modified'

my_object._PrivateClass__private_data

'modified'

In [26]:
#10.6 Cards and dealing simualation

from deck import DeckOfCards

deck_of_cards = DeckOfCards()

print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [27]:
#Shuffling the deck

deck_of_cards.shuffle()

print(deck_of_cards)

8 of Diamonds      6 of Spades        8 of Clubs         Queen of Hearts
6 of Diamonds      4 of Clubs         4 of Diamonds      3 of Diamonds
Ace of Diamonds    2 of Clubs         3 of Clubs         4 of Hearts
8 of Hearts        5 of Spades        Ace of Hearts      9 of Spades
King of Clubs      Queen of Spades    3 of Hearts        10 of Diamonds
10 of Clubs        Ace of Spades      King of Hearts     5 of Diamonds
Jack of Diamonds   Jack of Spades     5 of Hearts        9 of Clubs
7 of Clubs         King of Spades     2 of Hearts        7 of Diamonds
10 of Spades       6 of Hearts        Queen of Clubs     Ace of Clubs
5 of Clubs         2 of Diamonds      3 of Spades        9 of Hearts
Jack of Clubs      4 of Spades        6 of Clubs         7 of Spades
Queen of Diamonds  9 of Diamonds      2 of Spades        King of Diamonds
8 of Spades        10 of Hearts       7 of Hearts        Jack of Hearts

In [28]:
#dealing out cards
deck_of_cards.deal_card()

Card(face='8', suit='Diamonds')

In [29]:
#Writing what the card is as a string
card = deck_of_cards.deal_card()

str(card)

'6 of Spades'

In [30]:
card.image_name

'6_of_Spades.png'

In [31]:
#Displaying card images
%matplotlib

from pathlib import Path

path = Path('.').joinpath('card_images')

import matplotlib.pyplot as plt

import matplotlib.image as mpimg

figure, axes_list = plt.subplots(nrows=4, ncols=13)

for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)
    
figure.tight_layout()

Using matplotlib backend: <object object at 0x000001BB8CDF9980>

AttributeError: 'NoneType' object has no attribute 'image_name'

In [14]:
#10.8 Polymorphism

from commissionemployee import CommissionEmployee

from decimal import Decimal

c = CommissionEmployee('Chris', 'Kollbaum', '123-45-6789',
                     Decimal('10000.00'), Decimal('0.06'))

c

CommissionEmployee: Chris Kollbaum
social security number: 123-45-6789
gross sales: 10000.00
commission rate: 0.06

In [15]:
#Finding the employee's earnings 
print(f'{c.earnings():,.2f}')

600.00

In [18]:
#changing the employees gross sales and commission rate
c.gross_sales = Decimal('20000.00')

c.commission_rate = Decimal('0.1')

print(f'{c.earnings():,.2f}')

2,000.00

In [28]:
#Testing the class salariedcommissionemployee
from salariedcommissionemployee import SalariedCommissionEmployee

s = SalariedCommissionEmployee('Chris', 'Hampton', '123-45-6787', Decimal('7000.00'), Decimal('0.03'), Decimal('250.00'))

print(s.first_name, s.last_name, s.ssn, s.gross_sales, s.commission_rate, s.base_salary)

Chris Hampton 123-45-6787 7000.00 0.03 250.00

In [29]:
#Finding the employees earnings
print(f'{s.earnings():,.2f}')

460.00

In [30]:
#Modifying the data
s.gross_sales = Decimal('10000.00')

s.commission_rate = Decimal('0.05')

s.base_salary = Decimal('2000.00')

print(s)

SalariedCommissionEmployee: Chris Hampton
social security number: 123-45-6787
gross sales: 10000.00
commission rate: 0.05
base salary: 2000.00

In [31]:
#Now finding the earnings
print(f'{s.earnings():,.2f}')

2,500.00

In [32]:
#Testing the relationship of the classes
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [33]:
#Confirming the "is a" relationship 
isinstance(s, CommissionEmployee)

True

In [34]:
isinstance(s, SalariedCommissionEmployee)

True

In [35]:
#Using these relationships to do manipulations
employees = [c, s]

for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Chris Kollbaum
social security number: 123-45-6789
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Chris Hampton
social security number: 123-45-6787
gross sales: 10000.00
commission rate: 0.05
base salary: 2000.00
2,500.00

In [43]:
#10.9 Duck Typing and Polymorphism

class WellPaidDuck:
    def __repr__(self):
        return 'I am a well paid duck'
    def earnings(self):
        return Decimal('1_000_000_000.00')
    
from decimal import Decimal

from commissionemployee import CommissionEmployee

from salariedcommissionemployee import SalariedCommissionEmployee

c = CommissionEmployee('Chris', 'Kollbaum', '123-45-6789', Decimal('100000.00'), Decimal('0.07'))

s = SalariedCommissionEmployee('Chris', 'Hampton', '123-45-6787', Decimal('200000.00'), Decimal('0.04'), Decimal('500.00'))

d = WellPaidDuck()

employees = [c, s, d]

for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Chris Kollbaum
social security number: 123-45-6789
gross sales: 100000.00
commission rate: 0.07
7,000.00

SalariedCommissionEmployee: Chris Hampton
social security number: 123-45-6787
gross sales: 200000.00
commission rate: 0.04
base salary: 500.00
8,500.00

I am a well paid duck
1,000,000,000.00

In [45]:
#Operator overloading 
#Working with complex numbers

from complexnumber import Complex

x = Complex(real=2, imaginary=4)

y = Complex(real=5, imaginary=-3)

print(x)

print(y)

(2 + 4i)
(5 - 3i)

In [46]:
#adding complex numbers
x + y

#x and y are not modified

(7 + 1i)

In [47]:
#now adding and putting the result as x

x += y

print(x)

print(y)

(7 + 1i)
(5 - 3i)

In [50]:
#10.10 Self check doing the same but subtracting and saving the result as x
from complexnumber2 import Complex

x = Complex(real=4, imaginary=-3)
y = Complex(real=-2, imaginary=9)
x - y
x -= y
print(x)
print(y)

(6 - 12i)
(-2 + 9i)

In [51]:
#10.12 Named Tuples

#Creating a simple named tuple

from collections import namedtuple

Card =  namedtuple('Card', ['face', 'suit'])

card = Card(face='Ace', suit='Clubs')

print(card.face)

print(card.suit)

print(card)

Ace
Clubs
Card(face='Ace', suit='Clubs')

In [52]:
#recieving an iterable of values and returning an object of the named tuple
values = ['Jack', 'Spades']

card = Card._make(values)

card

Card(face='Jack', suit='Spades')

In [54]:
#Getting an ordered dictionary representation of the named tuple 

card._asdict()

{'face': 'Jack', 'suit': 'Spades'}

In [56]:
#10.12 Self Check

#Creating a named tuple of time and then a time object and displaying it

from collections import namedtuple

Time = namedtuple('Time', ['hour', 'minute', 'second'])

t = Time(10, 30, 37)

print(t.hour, t.minute, t.second)

print(t)

10 30 37
Time(hour=10, minute=30, second=37)

In [58]:
#10.13 New Data Classes
#Demonstrating the new Card data class

from carddataclass import Card
#This creates a card
c1 = Card(Card.FACES[0], Card.SUITS[3])

c1

Card(face='Ace', suit='Spades')

In [59]:
#printing this as a string
print(c1)

Ace of Spades

In [61]:
#accessing the class's attributes

print(c1.face)

print(c1.suit)

print(c1.image_name)

Ace
Spades
Ace_of_Spades.png

In [62]:
#comparing different card objects 

c2 = Card(Card.FACES[0], Card.SUITS[3])

c3 = Card(Card.FACES[0], Card.SUITS[0])

print(c2)

print(c3)

Ace of Spades
Ace of Hearts

In [63]:
c2 == c3

False

In [64]:
c1 == c3

False

In [65]:
c1 != c3

True

In [66]:
c1 == c2

True

In [68]:
#printing deck of cards in order
from deck2 import DeckOfCards

deck_of_cards = DeckOfCards()

print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [69]:
#self check 10.13.2 Creating an object and displaying the attributes 
from carddataclass import Card

c = Card('Ace', 'Spades')

print(c)

Ace of Spades

In [70]:
type(c.face)

str

In [71]:
c.face = 100

c

Card(face=100, suit='Spades')

In [72]:
type(c.face)

int

In [78]:
#10.15 Namespaces
#Finding Identifiers in namespaces
#This helps us understand the search order for a namespace.  Python searches from local to global to built-in
#Proving r is not defined

z = 'global z'

def print_variables():
    print(r)
    print(z)
    
print_variables()

NameError: name 'r' is not defined

In [79]:
z

'global z'